
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: 'Inter', sans-serif;
}

:root {
    --white: #ffffffff;
    --lightblue-home: #f5f7fa;
    --lightblue-border: #d8e1e8;
    --lightblue-result:#f7f9fa;
    --blue-h2: #4178bc;
    --blue-p: #7db0f0;
    --blue-span: #629fec;
    --blue-input: #eff2f4;
    --blue-inputfocus: #c6e1f7;
    --gray-input: #575757;
    --gray-h1: #656565;
    --gray-label: #969696;
    --gray-span: #d1d1d1;
    --red-input: #f77777
}

body {
    color: var(--white);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--lightblue-home);
}

ul{
    list-style: none;
}

